main {
  background: url("/img/main-bg.jpeg");
  background-size: cover;
  height: 100vh;
  font-family: 'Maven Pro', sans-serif;
}

body {
  margin: 0;
  position: relative;
}

header {
  height: 17vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.menu-icon {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  justify-content: center;
  align-items: center;
  display: none;
}

.social {
  display: none;
}

i.fa.fa-bars {
    color: white;
    font-size: 26px;
}

i.fa.fa-twitter.fa-1 {
    color: white;
}

i.fa.fa-facebook.fa-1 {
    color: white;
}

 li {
   list-style: none;
   color: white;
   font-size: 27px;
   font-weight: 600;
 }

.mast {
  height: 74vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.headline {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  color: white
}

h1, h2{
  margin: 0;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2em;
  margin-top: -5%;
}

.button {
  height: 65px;
  background: white;
  width: 65px;
  margin: 0 auto;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
}


i.fa.fa-long-arrow-down {
    margin: auto;
    color: rgba(128, 128, 128, 0.7);
    font-size: 34px;
}

@media screen and (max-width: 700px) {
    .menu-icon {
      display: flex;
      margin-left: 5%;
    }

    .social {
      display: flex;
      justify-content: space-between;
      width: 48px;
      margin-right: 8%;
    }


    header li {
        display: none;
    }

    header {
      justify-content: space-between;
    }


}
